.prompt {
    font-weight: 500;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.fakeLabel {
  font-size: 11px;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  color: gray;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  vertical-align: top;
}

// Create a 2 column layout when screen is more than 400px wide
@media (min-width: 550px) {
    .gridwrapper {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      gap: 20px 5px;

    }
  }



