<div class="freq-container">
  <div>
    <app-fdigit
      scale="100000000"
      [value]="value100000000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="10000000"
      [value]="value10000000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="1000000"
      [value]="value1000000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div class="separator1000s">.</div>
  <div>
    <app-fdigit
      scale="100000"
      [value]="value100000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="10000"
      [value]="value10000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="1000"
      [value]="value1000"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div class="separator1000s">.</div>
  <div>
    <app-fdigit
      scale="100"
      [value]="value100"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="10"
      [value]="value10"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
  <div>
    <app-fdigit
      scale="1"
      [value]="value1"
      (onChange)="updateFrequency($event)"
    ></app-fdigit>
  </div>
</div>
